<?xml version="1.0"?>
<robot name="m1013_hande" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- ===================== -->
  <!-- (2형식) xacro args -->
  <!-- ===================== -->
  <xacro:arg name="namespace"     default="dsr01"/>
  <xacro:arg name="prefix"        default="gripper_"/>
  <xacro:arg name="parent_link"   default="link_6"/>

  <xacro:arg name="coupler_xyz"   default="0 0 0.004"/>
  <xacro:arg name="coupler_rpy_z" default="-1.57079632679"/>  <!-- -pi/2 -->

  <xacro:arg name="gripper_xyz"   default="0 0 0.005"/>
  <xacro:arg name="gripper_rpy"   default="0 0 0"/>
  <xacro:arg name="use_gazebo"   default="false"/>

  <link name="world"/>

  <joint name="world_fixed" type="fixed">
    <parent link="world"/>
    <child link="base_link"/> <origin xyz="0 0 0" rpy="0 0 0"/> </joint>
  <!-- 기존 두산 로봇 xacro include -->
  <xacro:include filename="$(find dsr_description2)/xacro/macro.m1013.white.xacro"/>

  <!-- robotiq hand-e gripper 매크로 include -->
  <xacro:include filename="$(find robotiq_hande_description)/urdf/robotiq_hande_gripper.urdf.xacro"/>

  <!-- ✅ 로봇 본체 생성 -->

  <xacro:m1013 namespace="$(arg namespace)"/>


</robot>
